<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Formulario de creación'}) %>
<body>
	<!-- Header -->
	<%- include('../partials/headerNavbar') %>
	<!-- /Header -->

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresa a tu Cuenta</h2>
			</div>
		</div>
		<div class="lista-errores">
			<% if (typeof errors != "undefined") { %>
				<i class="fas fa-exclamation-circle"></i>
				<ul class="lista-errores ul">
					<%= errors.msg %>
				</ul>
			<% } %>
		</div>
		<div class="col-12">
			<form action="/users/login" method="POST"> 
				<div class="row product-detail">
					<div class="col-12 col-md-6">
						<label for="email" class="form-label">Email:</label>
						<input type="email" id="email" name="email" placeholder="Ingresa tu E-mail" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="password" class="form-label">Password:</label>
						<input type="password" id="password" name="password" placeholder="Ingresa tu Password" class="form-input">
					</div>
				</div>
				<div align="center" style="margin-top: 5px;" class="col-12">
					<button type="submit" class="buy-now-button">Ingresa</button>
				</div>
			</form>
		</div>

	</div>

	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->
</body>	
</html>